#button {
  font-size: 20px;
  padding: 5px;
  margin: 5px;
  background-color: lightblue;
  border-radius: 4px;
}

.listainiziale {
  color: red;
}
.listaordinata {
  color: green;
}

.posizione {
  color: blue;
}
